<ion-header>
  <ion-navbar>
    <ion-title>Lists</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item (click)="basicListTapped()">
      Basic List
    </ion-item>
    <ion-item (click)="noLinesListTapped()">
      No Lines List
    </ion-item>
    <ion-item (click)="insetListTapped()">
      Inset List
    </ion-item>
    <ion-item (click)="listDividersTapped()">
      List Dividers
    </ion-item>
    <ion-item (click)="listHeadersTapped()">
      List Headers
    </ion-item>
    <ion-item (click)="iconListTapped()">
      Icon List
    </ion-item>
    <ion-item (click)="avatarListTapped()">
      Avatar List
    </ion-item>
    <ion-item (click)="multiLineListTapped()">
      Multi-Line List
    </ion-item>
    <ion-item (click)="slidingListTapped()">
      Sliding List
    </ion-item>
    <ion-item (click)="thumbnailListTapped()">
      Thumbnail List
    </ion-item>
  </ion-list>
</ion-content>
