<!--
  Generated template for the MatchesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">Close</button>
    </ion-buttons>
    <ion-title>Matches</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <button *ngIf="isCurrentUser()" ion-button block color="secondary" (click)="makeSelection()">Save</button>
  <ion-item text-wrap>
      <h2>Rules</h2>
      <p>Below is a list of all the first round matches in the 2018 World Cup. For each match, click the name of the team that you believe will win. Each correct answer is worth 1 pt. Picks must be in before each game.</p>
  </ion-item>
  <ion-list radio-group *ngFor="let match of matches | async" [(ngModel)]="matchSelection[match['id']]">
    <ion-list-header>
      {{ match.date | date: 'medium' }} <br/> {{ match.teams }}
    </ion-list-header>
    <ion-item>
      <ion-label>{{ match.teams | split: ' vs ' | slice: 0: 1 }}</ion-label>
      <ion-radio [disabled]="inThePast(match.date)" value="{{ match.teams | split: ' vs ' | slice: 0: 1 }}" checked></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>{{ match.teams | split: ' vs ' | slice: 1 }}</ion-label>
      <ion-radio [disabled]="inThePast(match.date)" value="{{ match.teams | split: ' vs ' | slice: 1 }}"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Tie</ion-label>
      <ion-radio [disabled]="inThePast(match.date)" value="Tie"></ion-radio>
    </ion-item>
  </ion-list>
  <button *ngIf="isCurrentUser()" ion-button block color="secondary" (click)="makeSelection()">Save</button>
</ion-content>
