<ion-header>
	<ion-navbar>
		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>Google places</ion-title>
	</ion-navbar>
</ion-header>

<ion-content padding>
	<ion-list>
		<ion-item>
			<ion-input (click)="showAddressModal()" [value]="place?.name" type="text" placeholder="Pick an address"></ion-input>
		</ion-item>
		<ion-item *ngIf="place" text-wrap>
			<ion-avatar item-left>
				<img *ngIf="place.icon" src="{{place.icon}}">
			</ion-avatar>
			<h2>{{place.name}}</h2>
			<div>{{place.formatted_address}}</div>
			<p *ngIf="place.formatted_phone_number">{{place.formatted_phone_number}}</p>
			<div *ngIf="place?.geometry?.location">Lat: {{place.geometry.location.lat()}}, Lng: {{place.geometry.location.lng()}}</div>
		</ion-item>
		<ion-item *ngIf="place && place.photos">
			<ion-slides pager>

				<ion-slide *ngFor="let photo of place.photos">
					<img src="{{photo.getUrl({ maxWidth: 500 })}}" alt="">
				</ion-slide>

			</ion-slides>
		</ion-item>
	</ion-list>
</ion-content>
