page-signature {
	.drawing-active {
		background: #857d7f;
	}

	signature-pad {
		width: 100%;

		canvas {
			display: block;
			margin: auto;
		}
	}
}

.signature-preview {
	display: block;
	margin: auto;
	margin-top: 30px;
}
