<ion-header>
  <ion-navbar>
    <ion-title>Multi-line List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Conversations
    </ion-list-header>

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/avatar-ts-woody.png">
      </ion-avatar>
      <h2>Woody</h2>
      <h3>I'm a big deal</h3>
      <p>Listen, I've had a pretty messed up day...</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/avatar-ts-jessie.png">
      </ion-avatar>
      <h2>Jessie</h2>
      <h3>Look, kid...</h3>
      <p>I've got enough on my plate as it is, and I...</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/avatar-ts-sarge.png">
      </ion-avatar>
      <h2>Sarge</h2>
      <h3>I can handle myself</h3>
      <p>You will remove these restraints and leave...</p>
    </ion-item>

    <ion-item>
      <ion-avatar item-left>
        <img src="assets/img/avatar-ts-barbie.png">
      </ion-avatar>
      <h2>Barbie</h2>
      <h3>Your thoughts betray you</h3>
      <p>I feel the good in you, the conflict...</p>
    </ion-item>
  </ion-list>
</ion-content>
